.decor {
  inset: 0;
  pointer-events: none;
  position: absolute;
}
.moon {
  height: auto;
  left: -33.823%;
  position: absolute;
  top: 76.481%;
  width: 74.406%;
}
.shadow {
  background: rgb(20 28 36 / 38%);
  border-radius: 50%;
  filter: blur(2px);
  height: 3.704%;
  left: 5%;
  position: absolute;
  top: 81.944%;
  width: 8.177%;
}
.mascot {
  left: 17.135%;
  position: absolute;
  top: 57.13%;
  width: 16.042%;
}
