.title {
  color: #fff;
  font-family: "온글잎 박다현체", monospace;
  font-size: 4.167cqw;
  font-weight: 700;
  height: 6.354cqw;
  margin: 0;
  position: relative;
  text-shadow: 0 0 0.677cqw #7588ab;
  width: 25.938cqw;
}
.chapter {
  height: 7.188cqw;
  width: 44.115cqw;
}
.stage {
  left: -0.156cqw;
}
.star {
  filter: drop-shadow(0 0 0.391cqw rgb(255 250 191 / 80%));
  height: 1.042cqw;
  left: 0;
  position: absolute;
  top: 2.031cqw;
  width: 0.885cqw;
}
.star:nth-of-type(2) {
  left: auto;
  right: 0;
}
.chapter .star {
  left: 3.646cqw;
  width: 1.042cqw;
}
.chapter .star:nth-of-type(2) {
  left: auto;
  right: 3.802cqw;
}
.text {
  align-items: center;
  display: flex;
  height: 5cqw;
  justify-content: center;
  left: 50%;
  line-height: normal;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transform: translateX(-50%);
  white-space: nowrap;
}
.chapter .text {
  width: 100%;
}
.stage .text {
  gap: 0.833cqw;
}
.stage .text > img {
  height: 3.75cqw;
  object-fit: contain;
  width: auto;
}
.divider {
  background: repeating-linear-gradient(
    to right,
    #36383a 0 0.521cqw,
    transparent 0.521cqw 1.042cqw
  );
  display: block;
  height: 0.26cqw;
  left: 0;
  position: absolute;
  top: 6.094cqw;
  width: 100%;
}
.chapter .divider {
  left: 5.833cqw;
  width: 13.542cqw;
}
.chapter .divider::after {
  background: inherit;
  content: "";
  height: 100%;
  left: 18.906cqw;
  position: absolute;
  top: 0;
  width: 100%;
}
.dividerCenter {
  height: 2.448cqw;
  left: 20.833cqw;
  opacity: 0.8;
  position: absolute;
  top: 4.74cqw;
  width: 2.448cqw;
}
